{% extends 'base.html' %}
{% load qr_code %}
{% block content %}

<br />
<div class="card text-center bg-success text-light">
    <div class="card-body">
        <div class="card-title"><h1 class="text-light">Selamat Datang!</h1></div>
        <!--
        <h3>QR Code (ONE) sudah terpakai pada {{ qr_used_at|date:"l, d F Y, G:i" }}
        -->
        <h4>Silakan ikuti petunjuk petugas untuk masuk pelan-pelan melalui pintu yang tersedia</h4>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <div class="card-title"><h1>{{ ticket.ticket.name }}</h1></div>
        <h1>{{ ticket.ticket.ticket_class.name }} - {{ ticket.ticket_number }}/{{ ticket.ticket.amount }}</h1>
        <br />
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='{% url "scanner" %}'">Kembali Ke Scanner</button>
    </div>
</div>
<br />        
{% endblock content %}

