{% load i18n wagtailadmin_tags %}
    <br />
    <section class="panel summary nice-padding">
        <h2 class="visuallyhidden">{% trans "Site summary" %}</h2>
        <table style="width: 90%">
            <tr>
                <td style="text-align: center;">
                    <h1>
                        Total Tickets<br />
                        <span style="font-size: 2.5em;">{{ total_tickets }}</span>
                    </h1>
                </td>
                <td style="text-align: center;">
                    <h1>
                        Total Tickets Class<br />
                        <span style="font-size: 2.5em;">{{ total_tickets_class }}</span>
                    </h1>
                </td>
                <td style="text-align: center;">
                    <h1>
                        Total Tickets Used<br />
                        <span style="font-size: 2.5em;">{{ total_tickets_used }}</span>
                    </h1>
                </td>
            </tr>

        </table>
    </section>

{% if summary_items %}
    <section class="panel summary nice-padding">
        <h2 class="visuallyhidden">{% trans "Site summary" %}</h2>
        <ul class="stats">
            {% for item in summary_items %}
                {% component item %}
            {% endfor %}
        </ul>
    </section>
{% endif %}
