{% load i18n wagtailadmin_tags %}

    <br />
    <hr />
    <br />

    <section class="panel summary nice-padding">
        <table style="text-align: center; width: 90%;">
            <tr>
                <td style="width: 30%; text-align: center;"></td>
                <td style="width: 30%; text-align: center;">
                    <h1>{{ chart_title_ticket }}</h1>
                        <div>
                            <canvas id="chart_ticket_1"></canvas>
                        </div>
                </td>
                <td style="width: 30%; text-align: center;">
                    <!--
                    <h1>
                        Total Sell<br />
                        <span style="font-size: 2.5em;">Rp. {{ total_sell }}</span>
                    </h1>
                    -->
                </td>
            </tr>
        </table>
    </section>

{% block extra_js %}
<script>

const ctx1 = document.getElementById('chart_ticket_1').getContext('2d');
const myChart1 = new Chart(ctx1, {
    type: 'pie',
    data: {
        labels: [{% for label in labels %}'{{ label | escape }}',{% endfor %}],
        datasets: [{
            label: '# ',
            data: {{ data_ticket }},
            backgroundColor: [
                {% for color in backgroundColor %}'{{ color | escape }}',{% endfor %}
            ],
            borderWidth: 1
        }]
    },
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: false,
        text: '{{ chart_title_ticket }}'
      }
    }
  },
});

</script>
{% endblock extra_js %}
